body{
    padding:40px;
    background-color:#5f9fff;
    font-family: courier;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card{
    flex:none;
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.card-title, .card-answer{
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

.card-button{
  width: 100%;
  margin-top: 10px;
  border: 1px solid #0070bb;
  color: #0070bb;
  background: #fff;
}

.card-answer{
    display: none;
}